<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'patient/css/signup.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="signup-container">
        <h1>Patient Signup</h1>
        <form method="POST" class="signup-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="signup-btn">Signup</button>
        </form>
    </div>
</body>
</html>
