<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/css/dashboard.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Hospital Dashboard | Smart Health Emergency Assistant</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="{% static 'logo.png' %}" alt="Logo">-->
                </span>

                <div class="text logo-text">
                    <span class="profession">Hospital Dashboard</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-user-circle icon"></i>
                            <span class="text nav-text">Welcome, {{ hospital.name }}</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'hospital:manage_doctors' %}">
                            <i class="bx bx-user-plus icon"></i>
                            <span class="text nav-text">Manage Doctors</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'hospital:manage_ambulances' %}">
                            <i class="bx bxs-ambulance icon"></i>
                            <span class="text nav-text">Manage Ambulances</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'hospital:manage_hospital' %}">
                            <i class="bx bx-building-house icon"></i>
                            <span class="text nav-text">Manage Hospital Info</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'hospital:logout' %}">
                            <i class="bx bx-log-out icon"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="text">Welcome to <strong>{{ hospital.name }}'s Dashboard</strong></div>
    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        });

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";
            }
        });
    </script>
</body>

</html>

